body {
font-family: Arial, sans-serif;
margin: 20px;
}
h1 {
text-align: center;
}
form {
display: flex;
flex-direction: column;
gap: 5px;
}

.row {
display: flex;
gap: 5px;
}

#password-list {
margin-bottom: 10px;
}

#password-list div {
display: flex;
margin-bottom: 5px;
}

#password-list button {
margin-left: 10px;
}